@import "compass";

body {
	width: 1280px;
	height: 720px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

body {
	
	color: white;
	text-shadow: 2px 2px black;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.panel {
	width: 1280px;
	height: 720px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: image-url("bg.png") no-repeat left top;

	#notice {
		position: absolute;
		top: 110px;
		left: 653px;
		width: 525px;
		height: 30px;
		text-align: 30px;
		font-size: 28px;

		.title {
			width: 70px;
			height: 100%;
		}

		.parent {
			position: absolute;
			left: 70px;
			top: 0;
			width: 455px;
			height: 100%;
			overflow: hidden;
			white-space: nowrap;
		}

		.inner {
			position: absolute;
			left: 0px;
			top: 0;
			height: 100%;
		}

	}

	#player {
		position: absolute;
		top: 148px;
		left: 116px;
		width: 525px;
		height: 344px;
	}

	.news {
		position: absolute;
		top: 505px;
		left: 114px;
		width: 527px;
		height: 165px;
	}

	.information {
		position: absolute;
		top: 330px;
		left: 655px;
		width: 525px;
		height: 330px;
	}

	.news, .information {

		div {
			width: 100%;
			height: 57px;
			line-height: 50px;
			font-size: 23px;
			overflow: hidden;
		}
		.title {
			padding-left: 5px;
		}
		.item {
			padding-left: 20px;
		}
	}

	.weather {
		position: absolute;
		top: 148px;
		left: 655px;
		width: 165px;
		height: 165px;

		.temperature {
			height: 50%;
			width: 100%;
			font-size: 65px;
			line-height: 82px;
			padding-left: 15px;

			.unit {
				font-size: 35px;
			}

			&.snow {
				background: image-url("Snow.png") no-repeat right center;
			}

			&.sunshine {
				background: image-url("Sun.png") no-repeat right center;
			}

			&.cloudy {
				background: image-url("Cloudy-Sky.png") no-repeat right center;
			}

			&.rain {
				background: image-url("Drizzle.png") no-repeat right center;
			}

			&.thunder {
				background: image-url("Thunder-Shower.png") no-repeat right center;
			}

		}

		.memo {
			height: 25%;
			width: 100%;
			font-size: 25px;
			line-height: 41px;
			padding-left: 15px;
			overflow: hidden;
		}
	}

	.clock {
		position: absolute;
		top: 148px;
		left: 833px;
		width: 345px;
		height: 165px;

		.date {
			height: 45px;
			width: 100%;
			font-size: 31px;
			text-align: right;
			line-height: 45px;
			padding-right: 8px;
		}
		.time {
			div {
				float: left;
			}
			.noon {
				width: 20%;
				height: 120px;
				font-size: 23px;
				text-align: right;
				padding-right: 5px;
				line-height: 65px;
			}
			.num {
				width: 17%;
				height: 120px;
				font-size: 68px;
				text-align: center;
				line-height: 105px;
				background: image-url("time_bg.png") no-repeat center center;
			}
			.space {
				width: 8%;
				height: 120px;
				font-size: 70px;
				text-align: center;
				line-height: 95px;
			}
		}
	}

}
