@import "compass";

body {
	width: 1280px;
	height: 720px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
}

body {
	
	color: white;
	text-shadow: 2px 2px black;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 1px;
}

.hidden {
	display: none;
}

.panel {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	position: absolute;
	background: image-url("bg.png") no-repeat left top;

	#notice {
		top: 110px;
		left: 653px;
		width: 525px;
		height: 30px;
		font-size: 28px;
		text-align: 30px;
		position: absolute;

		.title {
			width: 76px;
			height: 100%;
		}

		.parent {
			top: 0;
			left: 76px;
			width: 455px;
			height: 100%;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
		}

		.inner {
			top: 0;
			left: 0;
			height: 100%;
			position: absolute;
		}

	}

	#player {
		top: 148px;
		left: 116px;
		width: 525px;
		height: 344px;
		position: absolute;
	}

	.news {
		top: 148px;
		left: 655px;
		width: 527px;
		height: 165px;
		position: absolute;
			
		.message {
			.content {
				top: 48px;
				width: 95%;
				height: 120px;
				overflow: hidden;
				margin-left: 20px;
				position: absolute;
			}
			.poster {
				top: 2px;
				width: 100%;
				height: 165px;
				overflow: hidden;
				position: absolute;
			}
		}
	}

	.information {
		top: 328px;
		left: 655px;
		width: 525px;
		height: 340px;
		position: absolute;
		
		.message {
			.content {
				top: 48px;
				width: 95%;
				height: 292px;
				overflow: hidden;
				margin-left: 20px;
				position: absolute;
			}
			
			.poster {
				width: 100%;
				height: 345px;
				overflow: hidden;
				position: absolute;
			}
		}
	}

	.news, .information {
		font-size: 23px;
		
		.message {
			position: absolute;
			width: 100%;
			
			.title {
				width: 100%;
				height: 57px;
				margin-left: 5px;
				line-height: 50px;
			}
		}
		
		.parent .inner {
			top: 0;
			left: 0;
			position: absolute;
		}
		
		.paginate {
			right: 5px;
			bottom: -3px;
			position: absolute;
			height: 25px;
			width: 200px;
			display: block;
			text-align: right;

			.navi {
				display: inline-block;
				color: white;
				width: 22px;
				height: 24px;
				line-height: 24px;
				text-shadow: 0 0;
				font-size: 16px;
				text-align: center;
				
				background: image-url("paginate-bg.png") no-repeat center center;
				
				&.active {
					color: black;
					background: image-url("paginate-active.png") no-repeat center center;
				}
			}
		}
	}
	
	.weather-icon {
		top: 505px;
		left: 114px;
		width: 165px;
		height: 125px;
		position: absolute;
		
		&.snow {
			background: image-url("Snow.png") no-repeat right top;
		}

		&.sunshine {
			background: image-url("Sun.png") no-repeat right top;
		}

		&.cloudy {
			background: image-url("Cloudy-Sky.png") no-repeat right top;
		}

		&.rain {
			background: image-url("Drizzle.png") no-repeat right top;
		}

		&.thunder {
			background: image-url("Thunder-Shower.png") no-repeat right top;
		}
	}

	.weather {
		top: 505px;
		left: 114px;
		width: 165px;
		height: 165px;
		position: absolute;

		.temperature {
			height: 50%;
			width: 165px;
			font-size: 65px;
			overflow: hidden;
			line-height: 82px;
			margin-left: 15px;

			.unit {
				font-size: 35px;
			}

		}

		.memo {
			height: 25%;
			width: 155px;
			font-size: 25px;
			overflow: hidden;
			line-height: 41px;
			margin-left: 15px;
		}
		
	}

	.clock {
		top: 505px;
		left: 280px;
		width: 345px;
		height: 165px;
		position: absolute;

		.date {
			@include box-sizing(border-box);
			width: 100%;
			height: 45px;
			font-size: 31px;
			line-height: 45px;
			
			margin-top: 12px;
			text-align: right;
			padding-right: 10px;
		}
		.time {
			margin-top: -10px;
			div {
				float: left;
			}
			.noon {
				width: 20%;
				height: 120px;
				font-size: 23px;
				line-height: 65px;
				text-align: right;
				margin-right: 5px;
			}
			.num {
				width: 17%;
				height: 120px;
				font-size: 68px;
				text-align: center;
				line-height: 105px;
				background: image-url("time_bg.png") no-repeat center center;
			}
			.space {
				width: 8%;
				height: 120px;
				font-size: 70px;
				line-height: 95px;
				text-align: center;
			}
		}
	}

}
